body {
    background-image: url("../media/background/3407044.jpg");
    color: #f6f6f6;
}

.bg-black {
    background-color: transparent;
}

.mi-foto {
    width: 400px;
    height: 500px;
}

.card-project:hover {
    border: 2.2px solid #8300FF;
    cursor: pointer;
}

.btn-project:hover {
    border: 2.2px solid #8300FF;
    cursor: pointer;
}

.highlight {
    color: #8300FF;
    text-shadow: 1px 0px 0px white,
        0px 1px 0px gray,
        -1px 0px 0px gray,
        0px -1px 0px gray
}

.writing{
    display:block;
    white-space: nowrap;
    border-right: 4px solid;
     width: 10ch;

     animation: typing 3s steps(10),
     blink .5s step-end alternate;
     overflow: hidden;

}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.vector{
    width: 280px;
    height: 280px;
}
